@model OnlineStore.ViewModels.ProductViewModel

@{
    ViewBag.Title = "Details";
}

<link href="@Url.Content("~/Content/Details.css")"
      rel="stylesheet"
      type="text/css" />

<div id="rightColumn">
    <div id="addToCartSectionContainer">
        @using (Html.BeginForm("AddToCart", "Cart"))
        {
            @Html.AntiForgeryToken()

            <div id="addToCartSection">
                <div id="quantity">
                    @*@Html.DropDownList("quantity")*@

                    @*using "new { ProductID = Model.ProductID}" as third parameter of Html.BeginForm('ActionName', 'ControllerName', objectValues) would work too to pass ProductID to specfied controller*@
                    @Html.HiddenFor(x => x.ProductDetailsDTO.Product.ProductID)
                    @Html.DropDownListFor(x => x.SelectedQuantity, Model.QuantitiesList, new {@class = "quantityDropDown"})
                </div>
                <div id="addToCartButtonContainer">
                    @if (Model.ProductDetailsDTO.Product.StockCount == 0)
                    {
                        <div id="addToCartButton">
                            <input type="submit" disabled="disabled" value="Add to Cart" class="disabled" />
                        </div>
                    }
                    else
                    {
                        <div id="addToCartButton">
                            <input type="submit" value="Add to Cart" />
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>
<div id="leftColumn">
</div>

<div id="centerColumn">
    <div id="titleDiv">
        <h1 id="productTitleHeader">
            <span id="productTitleSpan">
                @Model.ProductDetailsDTO.Product.Name
            </span>
        </h1>
    </div>
    <div id="priceDiv">
        <span>Price:</span>
        <span ID="priceLabel" class="priceLabel">@String.Format("{0:c}", Model.ProductDetailsDTO.Product.Price)</span>
    </div>
    <div id="stockCount">
        <span class=@Model.StockMessageCssClass>@Model.ProductDetailsDTO.StockMessage</span>
    </div>
</div>